/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'EB Garamond', serif;
  margin: 0 auto;
  max-width: 1400px;
  position: relative;
  padding: 0 5vmin;
}

.main {
  position: relative;
  min-height: 91vh;
  padding-bottom: 14vmin;
}

.main .loader {
  position: absolute;
  top: 25vh;
  left: 46vw;
}

.header {
  width: 94%;

  margin: 1rem auto;
  margin-bottom: 5vmax;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-around;
  padding: 0.4rem 1rem;
}

form {
  padding: 0.6vmin;
  display: grid;
  justify-content: center;
  grid-template-columns: 5fr 1fr;
}

.search-form input {
  padding: 2vmin 3vmin;
  border-radius: 5vmin;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid transparent;
  border-left: 3px solid rgb(217, 99, 138);
  border-right: 0;
  background-color: rgba(137, 20, 59, 0.096);
  font-size: medium;
  font-weight: 500;
  font-family: 'EB Garamond', serif;
}

input:focus {
  outline: none;
  border-color: rgb(217, 99, 138);
}

.submit-btn {
  border-radius: 5vmin;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid transparent;
  border-right: 3px solid rgb(217, 99, 138);
  background-color: rgba(137, 20, 59, 0.096);
}

button:hover {
  cursor: pointer;
  background-color: rgba(146, 25, 66, 0.252);
}

.title {
  text-transform: capitalize;
  color: rgb(238, 0, 79);
  letter-spacing: 1.4px;
  font-size: 5vmin;
}

.container {
  padding: 2vmax;
}

.image-div img {
  width: 100%;
  border-radius: 0.3rem;
}

footer {
  background-color: #141728;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vmin;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer > div {
  display: flex;
  align-items: center;
}

ul li {
  list-style: none;
  display: inline;
  margin: 10px;
}

.footer-icon,
.footer-logo {
  color: #fff;
  font-size: 4vmin;
}

@media (max-width: 540px) {
  .header {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 5vmin;
  }
}
